<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main-page.css">
    <title>Projetos</title>
</head>
<body>
<div class="container">
    <main id="main-content">
        <div class="landing-page-title">
            <img id="unifor-logo" src="/images/landingPage/unifor-logo-vertical.svg" alt="">
            <h1 id="landing-page-txt">Entregas Ambientes de Desenvolvimento de Software</h1>
        </div>

        <div class="posts">
           <div class="link-to-pages">
                <a href="/firstSubmission" style="color: white">
                    <img src="/images/landingPage/Default.svg" alt="">
                </a>
            </div>

<!--            <div class="link-to-pages">-->
<!--                <a href="/secondSubmission">-->
<!--                    <img src="/images/landingPage/Default-2.svg" alt="">-->
<!--                </a>-->
<!--            </div>-->

            <div class="link-to-pages">
                <a href="/thirdSubmission">
                    <img src="/images/landingPage/Default-1.svg" alt="">
                </a>
            </div>
        </div>
    </main>

    <img id="background-img" src="/images/landingPage/background.svg" alt="background image">
</div>

</body>
</html>