<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="/entrega-ii-a/scripts.js"></script>
    <title>Nome ABNT</title>
</head>
<body>
<h1>Conversor de nome ABNT</h1>
<div class="input-block">
    <lable>Escreva seu nome completo</lable>
    <input type="text" id="nome-completo" placeholder="Escreva seu nome aqui">
</div>
<div class="output-name">
    <lable>Seu nome convertido</lable>
    <input type="text" id="saida-nome" value="">
</div>
<button onclick="convertName()">Converter</button>

</body>
</html>