{% extends "firstSubmissionA/layout.html" %}

{% block head %}<title>Produtos | VGA store</title>{% endblock %}

{% block container1 %}<div class="container">{% endblock %}
{% block container2 %}</div>{% endblock %}

{% block body %}
    <!---------carrinho---------->
    <div class="small-container pagina-carrinho">
      <table>
        <tr>
          <th>Produtos</th>
          <th>Quantidade</th>
          <th>Subtotal</th>
        </tr>
        <tr>
          <td>
            <div class="carrinho-info">
              <img alt="" src="/images/firstSubmissionA/compra-1.jpg" alt="" />
              <div>
                <p>Intel Core i9-10900K</p>
                <small>Preço: R$4.224,60</small>
                <br />
                <a href="">Remover</a>
              </div>
            </div>
          </td>
          <td><input type="number" value="1" /></td>
          <td>R$4.224,60</td>
        </tr>
        <tr>
          <td>
            <div class="carrinho-info">
              <img alt="" src="/images/firstSubmissionA/compra-2.jpg" alt="" />
              <div>
                <p>Placa de Vídeo EVGA RTX 3090</p>
                <small>Preço: R$24.024,90</small>
                <br />
                <a href="">Remover</a>
              </div>
            </div>
          </td>
          <td><input type="number" value="1" /></td>
          <td>R$24.024,90</td>
        </tr>
        <tr>
          <td>
            <div class="carrinho-info">
              <img alt="" src="/images/firstSubmissionA/compra-3.jpg"/>
              <div>
                <p>Placa de Video PCYES RTX 3080</p>
                <small>Preço: R$13.394,00</small>
                <br />
                <a href="">Remover</a>
              </div>
            </div>
          </td>
          <td><input type="number" value="1" /></td>
          <td>R$13.394,00</td>
        </tr>
      </table>

      <div class="preco-total">
        <table>
          <tr>
            <td>Subtotal</td>
            <td>R$41.643,50</td>
          </tr>
          <tr>
            <td>Frete</td>
            <td>R$200,00</td>
          </tr>
          <tr>
            <td>Total</td>
            <td>R$41.843,50</td>
            <br />
          </tr>
        </table>
      </div>
      <a href="#" class="btn">Finalizar compra</a>
    </div>
{% endblock %}