<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Produtos | VGA store</title>
    <link rel="stylesheet" href="/styles/entrega-i-a/style.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="shortcut icon" href="./images/favico.png" type="image/x-icon" />
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="logo">
          <img alt="" src="/images/firstSubmissionA/logo.png" width="125px"/>
        </div>
        <nav>
          <ul id="MenuItems">
            <li><a href="/firstSubmission">Inicio</a></li>
            <li><a href="/firstSubmission/produto">Produtos</a></li>
            <li><a href="/firstSubmission/news">Sobre Tech</a></li>
            <li><a href="/firstSubmission/contato">Contato</a></li>
            <li><a href="">Conta</a></li>
          </ul>
        </nav>
        <a href="/carrinho.html">
          <img
            alt=""
            src="/images/firstSubmissionA/cart.png"
            width="30px"
            height="30px"
          />
        </a>
        <img alt="" src="/images/firstSubmissionA/menu.png" class="menu-icon"/>
      </div>
    </div>

    <!---------carrinho---------->
    <div class="small-container pagina-carrinho">
      <table>
        <tr>
          <th>Produtos</th>
          <th>Quantidade</th>
          <th>Subtotal</th>
        </tr>
        <tr>
          <td>
            <div class="carrinho-info">
              <img alt="" src="/images/firstSubmissionA/compra-1.jpg" alt="" />
              <div>
                <p>Intel Core i9-10900K</p>
                <small>Preço: R$4.224,60</small>
                <br />
                <a href="">Remover</a>
              </div>
            </div>
          </td>
          <td><input type="number" value="1" /></td>
          <td>R$4.224,60</td>
        </tr>
        <tr>
          <td>
            <div class="carrinho-info">
              <img alt="" src="/images/firstSubmissionA/compra-2.jpg" alt="" />
              <div>
                <p>Placa de Vídeo EVGA RTX 3090</p>
                <small>Preço: R$24.024,90</small>
                <br />
                <a href="">Remover</a>
              </div>
            </div>
          </td>
          <td><input type="number" value="1" /></td>
          <td>R$24.024,90</td>
        </tr>
        <tr>
          <td>
            <div class="carrinho-info">
              <img alt="" src="/images/firstSubmissionA/compra-3.jpg"/>
              <div>
                <p>Placa de Video PCYES RTX 3080</p>
                <small>Preço: R$13.394,00</small>
                <br />
                <a href="">Remover</a>
              </div>
            </div>
          </td>
          <td><input type="number" value="1" /></td>
          <td>R$13.394,00</td>
        </tr>
      </table>

      <div class="preco-total">
        <table>
          <tr>
            <td>Subtotal</td>
            <td>R$41.643,50</td>
          </tr>
          <tr>
            <td>Frete</td>
            <td>R$200,00</td>
          </tr>
          <tr>
            <td>Total</td>
            <td>R$41.843,50</td>
            <br />
          </tr>
        </table>
      </div>
      <a href="#" class="btn">Finalizar compra</a>
    </div>
    <!---------pe---------->
    <div class="pe">
      <div class="container">
        <div class="row">
          <div class="pe-col-1">
            <h3>Faca o donwload do nosso app!</h3>
            <p>Donwload aplicativo para telefones Andoid e ios.</p>
            <div class="app-logo">
              <img alt="" src="/images/firstSubmissionA/play-store.png"/>
              <img alt="" src="/images/firstSubmissionA/app-store.png"/>
            </div>
          </div>
          <div class="pe-col-2">
            <img alt="" src="/images/firstSubmissionA/logo-white.png"/>
            <p>Nosso objeivo e trazer tecnologia a voce.</p>
          </div>
          <div class="pe-col-3">
            <h3>Links uteis</h3>
            <ul>
              <li>Coupons</li>
              <li>Blog</li>
              <li>Politica de privacidade</li>
              <li>Entre para o nosso time!</li>
            </ul>
          </div>
          <div class="pe-col-4">
            <h3>Nos siga</h3>
            <ul>
              <li>Facebook</li>
              <li>Twitter</li>
              <li>Instagram</li>
              <li>Youtube</li>
            </ul>
          </div>
        </div>
        <hr />
        <p class="copyright">Copyright 2021 - Elon/Pedro</p>
      </div>
    </div>
  </body>
</html>
