<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>News</title>
    <link rel="stylesheet" href="./public/style/style.css" />
    <link rel="stylesheet" href="./public/style/list.css" />
  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="navbar">
          <div class="logo">
            <img alt="" src="./images/logo.png" width="125px" />
          </div>
          <nav>
            <ul id="MenuItems">
              <li><a href="/firstSubmission">Inicio</a></li>
              <li><a href="/firstSubmission/produto">Produtos</a></li>
              <li><a href="/firstSubmission/news">Sobre Tech</a></li>
              <li><a href="/firstSubmission/contato">Contato</a></li>
              <li><a href="">Conta</a></li>
            </ul>
          </nav>
          <a href="carrinho.html">
            <img alt="" src="./images/cart.png" width="30px" height="30px" />
          </a>
          <img alt="" src="./images/menu.png" class="menu-icon" />
        </div>
      </div>
    </div>

    <div class="side-navbar">
      <a href="index.html">Homepage</a>
      <a class="pagesnews" id="https://www.techtudo.com.br/">Techtudo</a>
      <a class="pagesnews" id="https://canaltech.com.br/">Canaltech</a>
      <a class="pagesnews" id="https://g1.globo.com/economia/tecnologia/"
        >G1 Tecnologia</a
      >
      <a class="pagesnews" id="https://www.tecmundo.com.br/">Techmundo</a>
    </div>

    <div class="content-area" id="iframecontent">
      <iframe src="https://google.com.br/" frameborder="0"></iframe>
    </div>
    <div class="pe" style="bottom: 0">
      <div class="container">
        <div class="row">
          <div class="pe-col-1">
            <h3>Faca o download do nosso app!</h3>
            <p>Download aplicativo para telefones Android e iOs.</p>
            <div class="app-logo">
              <a href="https://play.google.com/store/">
                <img src="./images/play-store.png" alt="Google Store" />
              </a>
              <a href="https://www.apple.com/br/app-store/">
                <img src="./images/app-store.png" alt="App Store" />
              </a>
            </div>
          </div>
          <div class="pe-col-2">
            <img alt="" src="./images/logo-white.png" />
            <p>Nosso objetivo e trazer tecnologia a voce.</p>
          </div>
          <div class="pe-col-3">
            <h3>Links uteis</h3>
            <ul>
              <li>Coupons</li>
              <li>
                <a target="_blank" href="https://medium.com/@hardware_club"
                  >Blog</a
                >
              </li>
              <li>Politica de privacidade</li>
              <li>Entre para o nosso time!</li>
            </ul>
          </div>
          <div class="pe-col-4">
            <h3>Nos siga</h3>
            <ul>
              <li>
                <a target="_blank" href="http://www.facebook.com">Facebook</a>
              </li>
              <li>
                <a target="_blank" href="http://www.twitter.com">Twitter</a>
              </li>
              <li>
                <a target="_blank" href="http://www.instagram.com">Instagram</a>
              </li>
              <li>
                <a target="_blank" href="http://www.youtube.com">YouTube</a>
              </li>
            </ul>
          </div>
        </div>
        <hr />
        <p class="copyright">Copyright 2021 - Elon/Pedro</p>
      </div>
    </div>
    <script src="./src/newsscritps.js"></script>
  </body>
</html>
