{% extends "firstSubmissionA/layout.html" %}

{% block head %}
    <title>Produtos | VGA store</title>
{% endblock %}

{% block container1 %}<div class="container">{% endblock %}
{% block container2 %}</div>{% endblock %}
{% block body %}
    <div class="small-container">
      <div class="row row-2">
        <h2>Todos os Produtos</h2>
        <select>
          <option>Padrão</option>
          <option>Preço</option>
          <option>Populares</option>
          <option>Bem avaliados</option>
          <option>Promoção</option>
        </select>
      </div>

      <div class="row">
        <div class="col-4">
          <img src="/images/firstSubmissionA/product-1.jpg" alt="" />
          <h4>Processador Intel Core i9-10900K</h4>
          <div class="classificação">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <p>R$4.224,60</p>
        </div>
        <div class="col-4">
          <img alt="" src="/images/firstSubmissionA/product-2.jpg" />
          <h4>Placa de Vídeo EVGA RTX 3090</h4>
          <div class="classificação">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <p>R$24.024,90</p>
        </div>
        <div class="col-4">
          <img alt="" src="/images/firstSubmissionA/product-3.jpg" />
          <h4>Placa de Video PCYES RTX 3080</h4>
          <div class="classificação">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
          </div>
          <p>R$13.394,00</p>
        </div>
        <div class="col-4">
          <img alt="" src="/images/firstSubmissionA/product-4.jpg" />
          <h4>Placa-Mãe AMD Asus Prime TRX40-Pro S</h4>
          <div class="classificação">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <p>R$4.705,76</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <img alt="" src="/images/firstSubmissionA/product-5.jpg" />
          <h4>Placa de Vídeo Asus TUF3 NVIDIA GeForce GTX 1660 SUPER</h4>
          <div class="classificação">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <p>R$4.435,18</p>
        </div>
        <div class="col-4">
          <img alt="" src="/images/firstSubmissionA/product-6.jpg" />
          <h4>Placa de Vídeo Asus Dual AMD Radeon RX 5500 XT EVO</h4>
          <div class="classificação">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <p>R$3.694,00</p>
        </div>
        <div class="col-4">
          <img alt="" src="/images/firstSubmissionA/product-7.jpg" />
          <h4>Placa de Vídeo MSI NVIDIA GeForce GTX 1650 D6 VENTUS XS OCV1</h4>
          <div class="classificação">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
          </div>
          <p>R$3.694,00</p>
        </div>
        <div class="col-4">
          <img alt="" src="/images/firstSubmissionA/product-8.jpg" />
          <h4>Placa de Vídeo Galax NVIDIA Geforce RTX 3070</h4>
          <div class="classificação">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <p>R$10.217,53</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <img alt="" src="/images/firstSubmissionA/product-9.jpg" />
          <h4>Processador Intel Core i7-9700K Coffee Lake</h4>
          <div class="classificação">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <p>R$2.941,06</p>
        </div>
        <div class="col-4">
          <img alt="" src="/images/firstSubmissionA/product-10.jpg" />
          <h4>
            Processador Intel Core i7-10700K Marvel´s Avengers Collector´s
            Edition Packaging
          </h4>
          <div class="classificação">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <p>R$3.176,35</p>
        </div>
        <div class="col-4">
          <img alt="" src="/images/firstSubmissionA/product-11.jpg" />
          <h4>Placa-Mãe Asus Prime A320M-K/BR, AMD AM4, mATX, DDR4</h4>
          <div class="classificação">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
          </div>
          <p>R$588,12</p>
        </div>
        <div class="col-4">
          <img alt="" src="/images/firstSubmissionA/product-12.jpg" />
          <h4>Placa-Mãe Asus ROG Strix B460-G Gaming</h4>
          <div class="classificação">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <p>R$1.294,00</p>
        </div>
      </div>

      <div class="page-btn">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>&#8594;</span>
      </div>
    </div>
{% endblock %}
